.insur {
  overflow: hidden;
  border: 1px solid #d5d5d5;
  padding: 5px;
  .o_list_view .table-responsive .table thead tr:nth-child(1) th {
    font-size: 13px;
    font-weight: 700;
  }
  .table > :not(caption) > * > * {
    padding: 0px 10px;
  }
  .o_field_widget,
  .o_field_widget input.o_input {
    display: inline-block;
    text-align: center;
  }
  .o_field_x2many_list_row_add {
    text-align: left;
  }
  .o_list_view
    .o_list_table
    tbody
    > tr
    > td:not(.o_list_record_selector).o_list_number {
    /* text-align: right; */
    text-align: left;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    li {
      font-size: 13px;
      font-weight: 700;
      line-height: 14.95px;
      list-style: none;
    }
  }
  .o_list_view
    .o_list_table
    .o_data_row.o_selected_row
    > .o_data_cell:not(.o_readonly_modifier):not(.o_invisible_modifier):not(
      .o_remaining_days_cell
    )
    > .o_input {
    border: 1px solid rgba(106, 106, 106, 0.7);
    width: 70px;
  }
  .o_data_row {
    td {
      font-size: 13px;
      font-weight: 400;
      line-height: 12.89px;
      color: #6a6a6a;
    }
  }
  .o_percentage_cell {
    span {
      display: none;
    }
  }

  .o_list_view
    .o_list_table
    .o_data_row.o_selected_row
    > .o_data_cell:not(.o_readonly_modifier):not(.o_invisible_modifier)
    .o_input_dropdown
    > .o_input,
  .o_list_view
    .o_list_table
    .o_data_row.o_selected_row
    > .o_data_cell:not(.o_readonly_modifier):not(.o_invisible_modifier)
    .o_datepicker
    > .o_input {
    border: 1px solid rgba(106, 106, 106, 0.7);
  }
  .o_list_view
    .o_list_table
    .o_data_row.o_selected_row
    > .o_data_cell:not(.o_readonly_modifier):not(.o_invisible_modifier):not(
      .o_remaining_days_cell
    )
    .o_input
    .o_input {
    width: 100%;
  }
  .o_list_view
    .o_list_table
    .o_data_row:not(.o_selected_row)
    .o_list_many2one
    .o_field_widget:not(.o_row_handle):not(.o_field_badge),
  .o_list_view
    .o_list_table
    .o_data_row:not(.o_selected_row)
    .o_list_char
    .o_field_widget:not(.o_row_handle):not(.o_field_badge),
  .o_list_view
    .o_list_table
    .o_data_row:not(.o_selected_row)
    .o_list_number
    .o_field_widget:not(.o_row_handle):not(.o_field_badge) {
    font-size: 13px;
    font-weight: 400;
    line-height: 12.89px;
    color: #6a6a6a;
  }
  .margin_20 {
    margin-top: 20px;
  }
}
.insur__container {
  overflow: hidden;
}

td[name="so_formality"],
td[name="so_reason"] {
  max-width: 130px !important;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
