.contact input,
.information_family input,
.generalInformation select,
.generalInformation input {
  height: 28px !important;
}
.work_progress tbody tr .o_td_label,
.Contract tbody tr .o_td_label,
.workExperience tbody tr .o_td_label,
.familyInformation tbody tr .o_td_label {
  display: none !important;
}

.o_content .oe_avatar {
  display: none !important;
}
.work_experience tbody tr td input,
.information_family tbody tr td input {
  margin-bottom: 8px !important;
}
.work_progress tbody tr td input,
.work_experience tbody tr td input {
  height: 28px !important;
}
.Contract
  .o_list_view
  .o_list_table
  tbody
  > tr
  > td:not(.o_list_record_selector).o_list_number {
  text-align: left;
}
.Contract
  .o_list_view
  .o_list_table
  tbody
  > tr
  > td:not(.o_list_record_selector):not(.o_handle_cell):not(.o_list_button):not(
    .o_state_selection_cell
  ) {
  height: 44px;
}
.contact .o_td_label,
.insurance .o_td_label,
.generalInformation .o_td_label,
.workInformation .o_td_label {
  min-width: 180px !important;
}
.o_form_view .o_group .o_td_label + td {
  padding: 0px 36px 0px 20px !important;
}
.personal_information,
.public {
  display: none !important;
}

.employee__group {
  display: flex;
  &-o {
    flex: 0.8;
    border-right: 1px solid #ccc;
  }
  &-t {
    flex: 0.2;
  }
}
